@use './styles/normalize';
@use './styles/reset';

@use 'styles/variables' as vars;

body {
    background-color: #02012B;
}

.button {
    border: none;
    border-radius: vars.$border-radius;
    line-height: normal;
    cursor: pointer;
}

input[type="text"],
.button {
    &:focus,
    &:hover {
        outline: 2px solid #fff;
        outline-offset: 2px;
    }
}
